<!-- TODO: Prevent (repeated) container styling as for filter options -->
<div
  class="collapse collapse-arrow bg-base-200 text-black join-item border"
  aria-label="Filter op: organisaties"
>
  <input
    type="checkbox"
    role="button"
    name="filter-accordion"
    [(ngModel)]="ui.accordionExpandedStates['endpoints']"
    id="Filter by organizations"
    [attr.aria-expanded]="ui.accordionExpandedStates['endpoints']"
  />
  <h3 class="collapse-title">
    <label for="Filter by organizations" class="font-bold underline">
      {{ "search-interface.organizations" | translate }}
    </label>
    <app-filter-enabled-count
      [count]="
        +(
          filters.getEnabledFiltersCountStr(
            endpoints.enabledIds.value.length
          ) || 0
        )
      "
    />
  </h3>

  <div
    class="collapse-content max-h-48 overflow-y-scroll overflow-x-hidden w-full"
  >
    @for (endpointId of visibleEndpointIds; track endpointId) {
      <div class="form-control flex-row">
        <label class="label text">
          <input
            type="checkbox"
            class="checkbox checkbox-xs mr-2"
            [checked]="endpoints.isEnabled(endpointId)"
            (click)="endpoints.toggle(endpointId)"
          />
          {{ endpoints.getById(endpointId)?.label }}
        </label>
      </div>
    }
  </div>
</div>
