<app-view-container>
  <app-skip-links />

  <app-lang-switch class="absolute top-1 right-4" />

  <!-- <app-header class="hidden lg:block" /> -->

  <div class="flex-grow-0 p-2 sm:p-4 sm:pb-2">
    <div class="flex items-center gap-2 sm:gap-4 w-full">
      <button
        (click)="onHomeClicked()"
        class="bg-primary py-2 lg:py-3 px-4 lg:px-6 inline-flex items-center shadow-md hover:shadow-lg transition-shadow duration-600 rounded-md"
        [attr.aria-label]="'homescreen.go-to-homepage' | translate"
      >
        <img [src]="Settings.ui.header.logoPath" alt="Logo" class="h-8" />
      </button>

      <!-- <button (click)="onHomeClicked()">
      <img src="assets/img/logo_black.svg" alt="Logo" class="h-8" />
    </button> -->

      <app-search-input class="flex-grow min-w-0" id="search-input" />
    </div>

    @if (!details.showing.value) {
      <app-search-buttons-toolbar class="hidden md:block" />
    }

    <!--    <app-active-filters />-->
  </div>

  @if (details.showing.value) {
    <app-details-back-button class="px-4" />
  }

  <div
    class="p-4 pt-1 sm:pt-2 overflow-y-scroll overflow-x-hidden flex-grow scroll-smooth w-full"
    #scrollContainer
  >
    @if (details.showing.value) {
      <app-details />
    }

    @if (!details.showing.value) {
      <div class="flex flex-row -top-2 bg-background z-10 p-2">
        <app-search-hits-counter class="w-1/2 lg:w-3/4" />
        <app-sort-select class="w-1/2 lg:w-1/4 mb-2 flex justify-end" />
      </div>
    }

    @if (!details.showing.value) {
      <div
        class="overflow-hidden"
        role="list"
        [attr.aria-label]="'accessibility.results-list' | translate"
        id="search-results"
      >
        @if (viewModes.current.value === ViewMode.Grid) {
          <app-nodes-grid [nodes]="search.results.value.nodes" class="w-full" />
        }
        @if (viewModes.current.value === ViewMode.List) {
          @for (node of search.results.value.nodes; track node?.["@id"]) {
            <app-node [node]="node"></app-node>
          }
        }
      </div>
    }

    @if (!details.showing.value) {
      <app-load-more-search-results-button />
    }
  </div>
</app-view-container>
