@if (!hasLoadedNodes) {
  <div class="skeleton h-3 w-1/2"></div>
}

@if (showNodes) {
  <div class="flex" [ngClass]="[collapsed ? 'items-center' : '']">
    <!--  <button-->
    <!--    class="btn btn-primary btn-outline inline-block btn-xs mr-4"-->
    <!--    (click)="collapsed = !collapsed"-->
    <!--    *ngIf="allowExpand"-->
    <!--  >-->
    <!--    {{ collapsed ? "+" : "-" }}-->
    <!--  </button>-->
    <div
      class="inline-block scrollbar-hide"
      [ngClass]="[collapsed ? 'breadcrumbs' : '']"
    >
      <ul>
        @for (
          nodeInfo of nodes;
          track nodeInfo;
          let i = $index;
          let isFirst = $first;
          let isLast = $last
        ) {
          <li>
            <app-node-link
              [url]="nodeInfo['@id']"
              [shouldTruncate]="collapsed"
              class="block"
              [style.margin-left]="collapsed ? '0' : i + 'rem'"
            >
              @if (!collapsed && !isFirst) {
                <ng-icon
                  [svg]="featherChevronRight"
                  class="opacity-40"
                  accessible
                  role="region"
                  accessibilityLabelledBy="node-hierarchy"
                  [accessibilityLabel]="'Navigate to ' + nodeInfo['@id']"
                />
              }
            </app-node-link>
          </li>
        }
      </ul>
    </div>
  </div>
}
