<p class="text-center mt-12 text-base sm:text-lg sm:w-3/4 px-2 mx-auto">
  <span [innerHTML]="'homescreen.flavour-text-part-1' | translate"></span>
  <span>&nbsp;</span>
  <span class="font-bold">{{
    "homescreen.flavour-text-part-2-emphasis" | translate
  }}</span>
  <span [innerHTML]="'homescreen.flavour-text-part-3' | translate"></span>
</p>

<div class="flex flex-row gap-6 my-6 justify-center">
  <div class="flex flex-row items-center gap-2">
    <div
      class="rounded-full bg-black h-6 w-6 text-lg text-white text-center"
      aria-hidden="true"
    >
      <span class="relative bottom-[0.2rem]">?</span>
    </div>
    <button class="underline" (click)="router.navigateByUrl('colophon')">
      {{ "homescreen.more-info" | translate }}
    </button>
  </div>

  <!-- <div class="flex flex-row items-center gap-2">
    <div class="rounded-full bg-black h-6 w-6 text-lg text-white text-center">
      <span class="relative bottom-[0.2rem]">
        <ng-icon [svg]="faSolidSitemap" [size]="'14px'" class="block"></ng-icon>
      </span>
    </div>
    <button class="underline" (click)="router.navigateByUrl('sitemap')">
      {{ "homescreen.sitemap" | translate }}
    </button>
  </div> -->
</div>
