<div
  class="drawer"
  [ngClass]="{
    'lg:drawer-open': filterDrawer.desktopExpanded$.value,
  }"
>
  <!-- Filter drawer toggle -->
  <input
    type="checkbox"
    class="drawer-toggle"
    id="filter-drawer-checkbox"
    (change)="onFilterDrawerCheckboxChange($event)"
  />

  <!-- Main site content -->
  <div class="drawer-content">
    <app-aria-live />
    <router-outlet></router-outlet>
  </div>

  <!-- Filter drawer -->
  <div class="drawer-side z-[99999]" [class.hidden]="!isSearchPage()">
    <label
      for="filter-drawer-checkbox"
      aria-label="Sluit filter menu"
      class="drawer-overlay"
    ></label>
    <div
      class="menu bg-base-200 text-base-content min-h-full w-72 md:w-80 p-4"
      [class.hidden]="!isSearchPage()"
      role="complementary"
      [attr.aria-label]="'accessibility.filter-panel' | translate"
      id="filter-panel"
    >
      <app-filter-options />
    </div>
  </div>
</div>
