<app-view-container>
  <app-header [view]="HeaderView.ShowingColofon" />

  <div class="p-8 pt-2 overflow-y-auto h-full">
    <app-razu-colofon></app-razu-colofon>

    <div class="flex justify-center w-full mt-8">
      <button
        class="btn btn-primary btn-md rounded-box text-center inline-block mx-auto hover:shadow-lg transition-shadow"
        (click)="onButtonClicked('')"
        [attr.aria-label]="'homescreen.go-to-homepage' | translate"
      >
        {{ "general.close" | translate }}
      </button>
    </div>
  </div>
</app-view-container>
