@if (data?.value) {
  <app-hop-link
    [data]="{
      value: data!.value!,
      hopLinkSettings: {
        preds: ['https://schema.org/geo', 'https://schema.org/latitude'],
        showHops: true,
      },
    }"
    (hopObjIdsRetrieved)="latitude = $event"
    class="hidden"
  />
  <app-hop-link
    [data]="{
      value: data!.value!,
      hopLinkSettings: {
        preds: ['https://schema.org/geo', 'https://schema.org/longitude'],
        showHops: true,
      },
    }"
    (hopObjIdsRetrieved)="longitude = $event"
    class="hidden"
  />
  <app-hop-link
    [data]="{
      value: data!.value!,
      hopLinkSettings: {
        preds: ['https://schema.org/geo', 'https://schema.org/polygon'],
        showHops: true,
      },
    }"
    (hopObjIdsRetrieved)="polygon = $event"
    class="hidden"
  />
}

{{ polygon }}
