@if (data?.value) {
  <app-hop-link
    [data]="{
      value: data!.value!,
      hopLinkSettings: {
        preds: ['https://schema.org/geo', 'https://schema.org/latitude'],
        showHops: true,
      },
    }"
    (hopObjIdsRetrieved)="onLatitude($event)"
    class="hidden"
  />
  <app-hop-link
    [data]="{
      value: data!.value!,
      hopLinkSettings: {
        preds: ['https://schema.org/geo', 'https://schema.org/longitude'],
        showHops: true,
      },
    }"
    (hopObjIdsRetrieved)="onLongitude($event)"
    class="hidden"
  />
  <app-hop-link
    [data]="{
      value: data!.value!,
      hopLinkSettings: {
        preds: ['https://schema.org/geo', 'https://schema.org/polygon'],
        showHops: true,
      },
    }"
    (hopObjIdsRetrieved)="onPolygon($event)"
    class="hidden"
  />
}

<div #mapContainer class="h-64 w-full"></div>
