<div class="w-full flex">
  <div
    class="bg-primary py-3 px-6 text-white inline-flex items-center shadow-md hover:shadow-lg transition-shadow duration-600 rounded-b-md"
    [ngClass]="{
      'ml-0 mr-auto': settings.position === HeaderPosition.Left,
      'mx-auto': settings.position === HeaderPosition.Center,
      'ml-auto mr-0': settings.position === HeaderPosition.Right,
    }"
    role="banner"
    [attr.aria-label]="'general.title' | translate"
  >
    <button
      class="text-left inline-flex items-center"
      [class.mr-3]="settings.showTitle || settings.showColophonButton"
      (click)="onButtonClicked('')"
      [attr.aria-label]="'homescreen.go-to-homepage' | translate"
    >
      @if (settings.showLogo) {
        <img
          [src]="settings.logoPath"
          alt="Logo"
          [class.mr-3]="settings.showTitle"
          class="h-8"
        />
      }
      @if (settings.showTitle) {
        <div>
          <h2>
            <div
              class="font-semibold"
              [innerHTML]="'general.title' | translate"
            ></div>
          </h2>
        </div>
      }
    </button>

    @if (settings.showColophonButton) {
      <div>
        <!--class="flex-grow"-->
        <button
          class="btn btn-primary btn-xs rounded-full text-center inline-block float-right p-0 w-9 sm:w-10 h-9 sm:h-10"
          (click)="onButtonClicked(buttonUrl)"
          [attr.aria-label]="
            view === HeaderView.ShowingColophon
              ? 'homescreen.go-to-search'
              : ('homescreen.go-to-colophon' | translate)
          "
          role="navigation"
        >
          <span class="text-lg sm:text-2xl font-light">
            @if (view === HeaderView.ShowingColophon) {
              <ng-icon [svg]="featherX" class="relative top-[0.1rem]" />
            }
            @if (view === HeaderView.ShowingSearch) {
              <span class="relative bottom-[0.1rem]"> ? </span>
            }
          </span>
        </button>
      </div>
    }
  </div>
</div>
