<ng-container>
  <div class="inline" #linkElem>
    <ng-content></ng-content>

    <div class="inline">
      <!--  TODO: If clicked is observed (and perhaps the event is canceled), remove the href or use a button instead?  -->
      @if (clicked.observed || isClickableUrl) {
        <!-- External URL -->
        @if (!isInternalUrl) {
          <a
            [href]="processedUrl"
            target="_blank"
            (click)="onUrlClicked($event)"
            class="clickable"
          >
            <app-node-label
              [label]="cachedLabel ?? processedUrl"
              [shouldTruncate]="shouldTruncate"
              [allowLabelExpand]="allowLabelExpand"
              [highlightStr]="shouldHighlight ? search.queryStr : undefined"
              [tag]="tag"
            />
          </a>
        }
        <!-- Internal URL -->
        @if (isInternalUrl) {
          <a
            [routerLink]="processedUrl"
            queryParamsHandling="merge"
            class="clickable"
          >
            <app-node-label
              [label]="cachedLabel ?? processedUrl"
              [shouldTruncate]="shouldTruncate"
              [allowLabelExpand]="allowLabelExpand"
              [highlightStr]="shouldHighlight ? search.queryStr : undefined"
              (click)="onUrlClicked($event); onInternalUrlClicked()"
              [tag]="tag"
            />
          </a>
        }
      }

      @if (!clicked.observed && !isClickableUrl) {
        <span>
          <app-node-label
            [label]="cachedLabel ?? processedUrl"
            [shouldTruncate]="shouldTruncate"
            [allowLabelExpand]="allowLabelExpand"
            [highlightStr]="shouldHighlight ? search.queryStr : undefined"
            [tag]="tag"
          />
        </span>
      }
    </div>

    @if (suffixStr) {
      <span>{{ suffixStr }}</span>
    }
  </div>
</ng-container>
