@if (node && pred) {
  @if (show === TableCellShowOptions.Pred) {
    <app-node-link [url]="pred" />
  }
  @if (show === TableCellShowOptions.Obj) {
    <ng-container>
      @for (objValue of objValuesToShow; track objValue) {
        <div>
          <!-- Explicitly rendered components that need special handling -->
          @for (component of explicitlyRenderedComponents; track component) {
            @if (component === NodeTypeComponent) {
              <div class="mt-1">
                <app-node-type [type]="{ id: objValue }"> </app-node-type>
              </div>
            }
            @if (component === FileRendererComponent) {
              <app-file-renderer
                [urls]="objValue"
                [shownInTableCell]="true"
                [hopSettings]="getSettingByKey('hopLinkSettings')"
              />
            }
          }
          <!-- Dynamically rendered components -->
          @for (component of dynamicallyRenderedComponents; track component) {
            <ng-container
              *ngComponentOutlet="
                component;
                inputs: { data: getPredicateRenderComponentInput(objValue) }
              "
            >
            </ng-container>
          }
          <!-- Default rendering if no components are available -->
          @if (!hasRenderComponents) {
            <app-node-link [url]="objValue">
              @if (isIncoming) {
                <ng-icon [svg]="featherArrowUpLeft" class="opacity-40" />
              }
            </app-node-link>
          }
        </div>
      }
      @if (numObjValuesNotShown > 0) {
        <button
          class="btn btn-xs btn-primary mt-2"
          (click)="loadMoreObjValues()"
        >
          {{ showMoreLabel }}
        </button>
      }
    </ng-container>
  }
}
