@if (!settings.hasEndpoints()) {
  <div role="alert" class="alert alert-soft mb-4">
    <ng-icon [svg]="featherAlertTriangle" aria-hidden="true" />
    <span>Let op: Geen endpoints gevonden</span>
  </div>
}

<div
  class="dropdown dropdown-bottom z-[9999] flex w-full justify-center relative"
  role="search"
  aria-label="Zoeken"
>
  <div
    class="flex items-center gap-2 sm:gap-2 w-full max-w-2xl mx-auto min-w-0"
  >
    <label
      class="flex input input-bordered items-center gap-2 sm:gap-2 rounded-box w-full max-w-2xl mx-auto min-w-0"
      for="search-input"
    >
      <!-- <img
      alt="Logo"
      class="h-full py-3 mr-0 opacity-40 fill-black"
      src="/assets/img/logo_black.svg"
      /> -->

      <input
        type="text"
        id="search-input"
        class="grow min-w-0"
        [placeholder]="'search-interface.search-placeholder-short' | translate"
        value="{{ search.queryStr }}"
        [(ngModel)]="searchInput"
        (keyup.enter)="onSearch()"
        (ngModelChange)="onSearchInputChange()"
        tabindex="0"
        [attr.aria-label]="
          'search-interface.search-placeholder-full' | translate
        "
      />

      <button
        class="search-input-button btn-primary"
        [disabled]="search.isLoading.value"
        (click)="onSearch()"
        [attr.aria-label]="
          search.isLoading.value
            ? ('search-interface.searching' | translate)
            : ('search-interface.search-e-depot-razu' | translate)
        "
      >
        @if (search.isLoading.value) {
          <span
            class="loading loading-spinner loading-xs opacity-70"
            aria-hidden="true"
          ></span>
        }

        @if (!search.isLoading.value) {
          <img
            src="assets/icons/search.svg"
            alt="Zoek icoon"
            class="h-4"
            aria-hidden="true"
          />
        }
        <!--    <ng-icon [svg]="featherSearch" />-->
        <span aria-hidden="true">{{
          "search-interface.search" | translate
        }}</span>
      </button>
    </label>
    <app-search-tips />
  </div>
  @if (router.url.startsWith("/search")) {
    <button
      type="button"
      app-filter-button
      class="ml-1 px-2 sm:px-3 md:hidden btn btn-md rounded-box btn-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary focus-visible:outline-offset-2 hover:bg-primary hover:text-primary-content"
      [attr.aria-label]="'search-interface.toggle-filter-panel' | translate"
      [attr.aria-expanded]="filterDrawer.isOpen()"
      aria-controls="filter-drawer-checkbox"
    ></button>
  }

  @if (hasAutocompleteOptions || autocomplete.isLoading) {
    <ul
      tabindex="0"
      class="dropdown-content menu bg-base-100 rounded-xl z-[1] max-h-52 overflow-y-auto p-2 block text-base shadow mt-2 max-w-2xl"
    >
      <app-search-autocomplete
        (selected)="onAutocompleteOptionSelect($event)"
      />
    </ul>
  }
</div>
