@switch (tag) {
  @case ("h1") {
    <h1 [innerHTML]="renderedLabelHtml"></h1>
  }
  @case ("h2") {
    <h2 [innerHTML]="renderedLabelHtml"></h2>
  }
  @case ("h3") {
    <h3 [innerHTML]="renderedLabelHtml"></h3>
  }
  @default {
    <span [innerHTML]="renderedLabelHtml"></span>
  }
}
@if (shouldTruncate && showingTruncatedLabel && labelIsTruncated) {
  <button
    [ngClass]="allowLabelExpand ? 'text-primary clickable' : ''"
    (click)="onEllipsisClick($event)"
  >
    &nbsp;[...]
  </button>
}
