@if (autocomplete.isLoading) {
  <li>
    <p class="loading loading-sm loading-spinner p-0"></p>
  </li>
}

@if (!autocomplete.isLoading) {
  @if (autocomplete.hasOptionsOfType(AutocompleteOptionType.SearchTerm)) {
    <div>
      <div class="divider">
        <span> {{ "search-interface.search-terms" | translate }}</span>
      </div>
      @for (
        autocompleteResult of autocomplete.getOptionsByType(
          AutoCompleteOptionType.SearchTerm
        );
        track autocompleteResult
      ) {
        <li>
          <button (click)="selected.emit(autocompleteResult)">
            <ng-icon [svg]="featherSearch" class="mr-2" />
            {{ autocompleteResult.labels[0] }}
          </button>
        </li>
      }
    </div>
  }
  @if (autocomplete.hasOptionsOfType(AutocompleteOptionType.Node)) {
    <div>
      <div class="divider">
        <span> {{ "search-interface.search-results" | translate }}</span>
      </div>
      @for (
        autocompleteResult of autocomplete.getOptionsByType(
          AutoCompleteOptionType.Node
        );
        track autocompleteResult
      ) {
        <li>
          <button (click)="selected.emit(autocompleteResult)">
            <ng-icon [svg]="featherArrowRight" class="mr-2" />
            {{ autocompleteResult.labels[0] }}
          </button>
        </li>
      }
    </div>
  }
}
