<div class="form-control">
  <label class="label" for="from-date">
    <span class="label-text">{{
      "search-interface.date_range.from" | translate
    }}</span>
  </label>
  <input
    id="from-date"
    class="input input-bordered input-sm"
    type="date"
    [(ngModel)]="dateRange.fromDate"
    [min]="earliestDate"
    [max]="latestDate"
    (ngModelChange)="dateRange.onUpdate()"
    [attr.aria-label]="'search-interface.date_range.from-sr-label' | translate"
  />
</div>
<div class="form-control">
  <label class="label" for="to-date">
    <span class="label-text">{{
      "search-interface.date_range.to" | translate
    }}</span>
  </label>
  <input
    id="to-date"
    class="input input-bordered input-sm"
    type="date"
    [(ngModel)]="dateRange.toDate"
    [min]="earliestDate"
    [max]="latestDate"
    (ngModelChange)="dateRange.onUpdate()"
    [attr.aria-label]="'search-interface.date_range.to-sr-label' | translate"
  />
</div>
<div class="flex gap-2 pb-1 mt-2" role="group">
  <button
    class="btn btn-sm btn-primary"
    (click)="dateRange.clear()"
    [attr.aria-label]="'search-interface.date_range.clear' | translate"
  >
    {{ "search-interface.date_range.clear" | translate }}
  </button>
</div>
