<fieldset>
  <legend class="sr-only">
    Filter opties voor "{{ filterService.getOptionById(filterId!).label }}"
    filter
  </legend>
  @for (value of shownValues; track getFilterId(value)) {
    <div class="form-control flex-row">
      <label class="label text" for="{{ getFilterId(value) }}">
        <input
          type="checkbox"
          class="checkbox checkbox-xs mr-1"
          [checked]="filterService.has(value.ids, FilterType.FieldAndValue)"
          (click)="onFilterToggle(value.ids)"
          [id]="getFilterId(value)"
          [attr.aria-labelledby]="getFilterLabelId(value)"
          [disabled]="filterService.loading.value"
        />
        @if (value.ids) {
          <app-node-link
            [id]="getFilterLabelId(value)"
            [disabled]="true"
            [label]="value.label"
            [url]="!value.label ? value.ids[0] : undefined"
            [suffixStr]="getFilterOptionCountStr(value.filterHitCount)"
            [shouldHighlight]="false"
          >
          </app-node-link>
        }
      </label>
    </div>
  }
</fieldset>

@if (hasMoreToShow) {
  <button
    class="btn btn-sm btn-primary mt-2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary focus-visible:outline-offset-2"
    (click)="onShowMoreClicked()"
    [disabled]="filterService.loading.value"
    role="region"
    [attr.aria-label]="'search-interface.load-more-results' | translate"
  >
    {{ "search-interface.load-more-results" | translate }}
  </button>
}
