<app-view-container>
  <app-header [view]="HeaderView.ShowingSearch" />
  <div class="p-4">
    <!-- <div class="mb-4">
      <button [routerLink]="['/']">
        <ng-icon
          [svg]="featherArrowLeft"
          class="relative top-[0.15rem]"
        ></ng-icon>
        Terug
      </button>
    </div> -->
    <div class="mx-auto w-fit">
      <ul class="text-2xl">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/search']">Zoeken</a></li>
        <li><a [routerLink]="['/colophon']">Colofon</a></li>
        <li><a [routerLink]="['/sitemap']">Sitemap</a></li>
        <li>
          <a [routerLink]="['/toegankelijkheidsverklaring']"
            >Toegankelijkheidsverklaring</a
          >
        </li>
      </ul>
    </div>
  </div>
</app-view-container>
