<ng-container>
  <span role="search" aria-label="Sort results" aria-labelledby="sort-results">
    <select
      class="select w-full max-w-xs select-ghost bg-white text-black"
      role="listbox"
      aria-labelledby="sort-select"
      aria-label="Sort dropdown"
      (change)="onChange($event)"
    >
      @for (
        sortOptionId of Object.keys(Settings.sorting.options);
        track sortOptionId
      ) {
        <option
          [value]="sortOptionId"
          [selected]="sortOptionId === sorting.current.value?.id"
        >
          {{ sorting.getById(sortOptionId)?.label }}
        </option>
      }
    </select></span
  >
</ng-container>
