<h2>Het digitale archief van Zuid-Utrecht</h2>
<p>
  Het Regionaal Archief Zuid-Utrecht beheert de archieven van de gemeenten
  Bunnik, Houten, Rhenen, Utrechtse Heuvelrug, Vijfheerenlanden en Wijk bij
  Duurstede. De digitale stukken zijn doorzoekbaar via deze portal. Voor het
  doorzoeken van onze papieren archieven kunt u terecht op
  <a href="https://www.razu.nl" target="_blank">razu.nl</a>.
</p>

<h2>Linked Open Data</h2>
<p>
  Het Regionaal Archief Zuid-Utrecht slaat de informatie over digitale archieven
  op in de vorm van linked data. Een groot deel daarvan is openbaar gepubliceerd
  op
  <a href="https://data.razu.nl" target="_blank">data.razu.nl</a>. Linked data
  is niet voor iedereen begrijpelijk. Daarom is deze portal gemaakt die de data
  eenvoudiger presenteert. Uiteraard kunnen techneuten zelf aan de slag met de
  data op <a href="https://data.razu.nl" target="_blank">data.razu.nl</a>!
</p>

<h2>Ontwikkeling van deze portal</h2>
<div>
  <p>De basis van deze website ligt in een gezamenlijk project van:</p>

  <ul class="list-disc ml-8 mb-2">
    <li>
      <a href="https://www.razu.nl/" target="_blank"
        >Regionaal Archief Zuid-Utrecht</a
      >
    </li>
    <li>
      <a href="https://hetutrechtsarchief.nl/" target="_blank"
        >Het Utrechts Archief</a
      >
    </li>
    <li>
      <a href="https://www.kasteelamerongen.nl/" target="_blank"
        >Kasteel Amerongen</a
      >
    </li>
  </ul>

  <p>
    De website is ontwikkeld door
    <a href="https://simondirks.com" target="_blank">Simon Dirks</a>
    en ontworpen door
    <a href="http://quintenswagerman.nl/" target="_blank">Quinten Swagerman</a>
    in samenwerking met- en opdracht van de deelnemende instellingen. De website
    is mede mogelijk gemaakt door een bijdrage van het
    <a href="https://netwerkdigitaalerfgoed.nl/" target="_blank"
      >Netwerk Digitaal Erfgoed</a
    >
    (NDE).
  </p>
</div>

<h2>Open Source</h2>
<p>
  De code van de website is open source beschikbaar op GitHub:
  <a
    href="https://github.com/view-a-LOD/Valeros"
    target="_blank"
    alt="Hyperlink naar de Github pagina van de hoofdversie van deze website."
    >de algemene (hoofd) versie vindt u hier</a
  >
  en de
  <a
    href="https://github.com/Regionaal-Archief-Zuid-Utrecht/Valeros-RAZU"
    target="_blank"
    alt="Hyperlink naar de Github pagina van de RAZU-variant van deze website."
  >
    RAZU-variant vindt u hier</a
  >
  (GPL-3.0).
</p>

<h2>Sitemap</h2>
<p>
  <a [routerLink]="['/sitemap']">De sitemap van deze website vindt u hier</a>.
</p>

<h2>Toegankelijkheidsverklaring</h2>
<p>
  <a [routerLink]="['/toegankelijkheidsverklaring']"
    >De toegankelijkheidsverklaring van deze website vindt u hier</a
  >.
</p>
